<script>
	import AudioTranscriptEditor from './AudioTranscriptEditor.svelte';
	import AudioTranscriptPlayer from './AudioTranscriptPlayer.svelte';

	export let sources = [];
	export let transcript = {};
	export let editorMode = false;

	let activeCues;
	let cues = [];
	let currentTime = 0;
	let duration;
	let playbackRate = 1.0;
	let audioElement;
	let showEditor = editorMode;

	function loadCues(event) {
		cues = event.target.track.cues;
	}
	function updateActiveCues(event) {
		activeCues = event.target.track.activeCues;
	}
	function setJumpTo(jumpToEvent) {
		audioElement.currentTime = jumpToEvent.detail;
	}
	function setPlaybackRate(playbackRateEvent) {
		playbackRate = parseFloat(playbackRateEvent.detail);
	}
	function togglePlayPause() {
		if (audioElement.paused) {
			audioElement.play();
		}
		else {
			audioElement.pause();
		}
	}
</script>
<style>
audio {
	position: sticky;
	top: 0;
	z-index: 1;
}
button {
	display: block;
}
</style>

<audio
	data-testid="audio"
	controls
	bind:this={audioElement}
	bind:currentTime
	bind:duration
	bind:playbackRate
>
	{#each sources as source}
		<source src={source.src} type={source.type} />
	{/each}
	<track
		default kind="captions"
		srclang={transcript.lang}
		src={transcript.src}
		on:load|once={loadCues} 
		on:cuechange={updateActiveCues}
		on:jumpto={setJumpTo}
	/>
</audio>
{#if editorMode}
	<button on:click={() => (showEditor = !showEditor)}>
		{showEditor ? 'Show player' : 'Show editor'}
	</button>
{/if}
{#if showEditor}
	<AudioTranscriptEditor
		bind:currentTime
		{activeCues}
		{duration}
		draftCues={cues}
		on:jumpto={setJumpTo}
		on:playbackrate={setPlaybackRate}
		on:togglePlayPause={togglePlayPause}
	>
	</AudioTranscriptEditor>
{:else}
	<AudioTranscriptPlayer
		{activeCues}
		{cues}
		{duration}
		on:jumpto={setJumpTo}>
	</AudioTranscriptPlayer>
{/if}
