<script>
	import { createEventDispatcher } from 'svelte';
	import JumpToCue from './JumpToCue.svelte';

	// current and total time
	export let duration;

	// audio cues
	export let activeCues;
	export let cues = [];

	const dispatch = createEventDispatcher();

	function dispatchJumpTo(event) {
		dispatch('jumpto', event.detail);
	}
</script>
<style>
section {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 0.25rem;
	align-items: baseline;
	margin-top: 1.25rem;
	max-width: 50ch;
}
p {
	background-color: transparent;
	transition: background-color 325ms ease-in-out;
	line-height: 1.6;
	margin: 0.25rem 0 0 0;
	padding: 0.25rem
}
p.active {
	background-color: var(--transcript-highlight-color);
}
</style>

<section>
	{#each cues as cue}
		<JumpToCue
			startTime={cue.startTime}
			{duration}
			on:jumpto={dispatchJumpTo} />

		<p
			class:active={activeCues && activeCues.getCueById(cue.id)}
			data-cueid={cue.id}
			data-starttime={cue.startTime}
		>
			{#each cue.text.split('\n') as line}
				{line}
				<br>
			{/each}
		</p>
	{/each}
</section>