<script>
	import { createEventDispatcher } from 'svelte';
	import EditorCueTime from './EditorCueTime.svelte';
	import EditorDownloadTranscript from './EditorDownloadTranscript.svelte';
	import EditorPlaybackRate from './EditorPlaybackRate.svelte';
	import JumpToCue from './JumpToCue.svelte';

	// current and total time
	export let currentTime = 0;
	export let duration;

	// audio cues
	export let activeCues;
	export let draftCues = [];

	export let enableTextOnly = true;

	let dispatch = createEventDispatcher();

	function addCue() {
		draftCues = [...draftCues, {startTime: currentTime.toFixed(1) || 0, endTime: 0, text: ''}];
	}

	// On key events, detect when we might want to auto-add a new cue on tab event
	// To allow the transcriber to pause the audio and catch up with their typing,
	// provide a Ctrl-Space key binding to pause and play the audio.
	function handleCueKeydown(isLast, event) {
		if (enableTextOnly && event.key === 'Tab' && !event.shiftKey && isLast) {
			addCue();
			// todo(feat): focus last cue on creation
			// todo(fix): fix bug where last cue gets shifted to the first position
			return;
		}
		if (event.ctrlKey && event.key === ' ') {
			dispatch('togglePlayPause');
			return;
		}
	}
	function handleCueStartTime(index, event) {
		const newCues = [...draftCues];
		newCues[index].startTime = event.detail.toFixed(1);
		draftCues = newCues;
	}
	function handleCueEndTime(index, event) {
		const newCues = [...draftCues];
		newCues[index].endTime = event.detail.toFixed(1);
		draftCues = newCues;
	}
</script>
<style>
section {
	margin: 0.5rem 0;
}
.cueContent {
	display: grid;
	grid-template-columns: minmax(6ch, max-content) repeat(auto-fill, minmax(50vmin, auto));
	gap: 0.25rem;
	padding: 0.25rem 0;
	background-color: transparent;
	transition: background-color 325ms ease-in-out;
}
.cueJump {
	grid-row: 1 / 3;
}
.cueText {
	margin: 0;
}
.cueTimeContainer {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}
.cueTime {
	display: flex;
	flex-direction: column;
}
.cueContent.active {
	background-color: var(--transcript-highlight-color);
}
</style>

<div>
	<EditorPlaybackRate on:playbackrate />
	<label>
		Text only
		<input type="checkbox" bind:checked={enableTextOnly}>
	</label>
</div>
<section>
	{#each draftCues as cue, index (cue.id || index)}
	<div class="cueContent" class:active={activeCues && activeCues.getCueById(cue.id)}>
		<div class="cueJump">
			<JumpToCue
				disabled={enableTextOnly}
				{duration}
				startTime={cue.startTime}
				on:jumpto />
		</div>
		<!-- svelte-ignore a11y-autofocus -->
		<textarea class="cueText"
			autofocus
			rows="3"
			on:keydown={(event) => handleCueKeydown(index === draftCues.length - 1, event)}
			bind:value={cue.text}></textarea>
		<div class="cueTimeContainer">
			<div class="cueTime">
				<EditorCueTime
					{currentTime}
					disabled={enableTextOnly}
					message="set start⏱"
					seconds={cue.startTime}
					on:settime={(event) => handleCueStartTime(index, event)} />
			</div>
			<div class="cueTime">
				<EditorCueTime
					{currentTime}
					disabled={enableTextOnly}
					message="set end⏱"
					seconds={cue.endTime}
					on:settime={(event) => handleCueEndTime(index, event)} />
			</div>
		</div>
	</div>
	{/each}
</section>
<div>
	<EditorDownloadTranscript {draftCues} />
</div>