<script>
	import { createEventDispatcher } from 'svelte';
	import { formatTimestamp } from './maths';

	// cues from audio
	export let activeCues;
	export let draftCues = [];

	// playback rate for audio
	export let playbackRate = 1.0;

	// time values from audio
	export let currentTime = 0;
	export let duration;

	let dispatch = createEventDispatcher();
	let enableTextOnly = true;

	function dispatchJumpTo(cueStartTime) {
		dispatch('jumpto', cueStartTime);
	}

	function handleAddCue() {
		addCue();
	}

	function handleDownload() {
		const out = ['WEBVTT\n\n'];
		for (let i = 1; i <= draftCues.length; i++) {
			const cue = draftCues[i - 1];
			out.push(i+'\n');
			out.push(formatTime(cue.startTime) + ' --> '+ formatTime(cue.endTime) + '\n');
			out.push(cue.text + '\n');
			out.push('\n');
		}
		const blob = new Blob(out, { type: 'text/vtt' });
		const url = URL.createObjectURL(blob);
		window.open(url);
	}

	function addCue() {
		draftCues = [...draftCues, {startTime: currentTime.toFixed(1) || 0, endTime: 0, text: ''}];
	}

	function setCueStartTime(cue, index) {
		const newCues = [...draftCues];
		newCues[index].startTime = currentTime.toFixed(1);
		draftCues = newCues;
	}
	function setCueEndTime(cue) {
		const newCues = [...draftCues];
		newCues[index].endTime = currentTime.toFixed(1);
		draftCues = newCues;
	}

	// On key events, detect when we might want to auto-add a new cue on tab event
	// To allow the transcriber to pause the audio and catch up with their typing,
	// provide a Ctrl-Space key binding to pause and play the audio.
	function handleCueKeydown(isLast, event) {
		if (enableTextOnly && event.key === 'Tab' && !event.shiftKey && isLast) {
			addCue();
			// todo(feat): focus last cue on creation
			// todo(fix): fix bug where last cue gets shifted to the first position
			return;
		}
		if (event.ctrlKey && event.key === ' ') {
			dispatch('togglePlayPause');
			return;
		}
	}

	function handlePlaybackRate(event) {
		playbackRate = event.target.value;
	}
</script>
<style>
.cue {
	display: grid;
	grid-template-columns: 2fr max-content auto auto;
	grid-template-rows: 1fr 1fr;
	gap: 0.25rem;
	margin: 0.75rem 0;
}
.start-time-button {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	margin-left: 0.5rem;
}
.end-time-button {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	margin-left: 0.5rem;
}
.start-time-text {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
.end-time-text {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
.jump-button {
	grid-column: 4 / 5;
	max-width: initial;
}
.text {
	grid-row: 1 / 3;
}
.active {
	background-color: var(--transcript-highlight-color);
}
input {
	max-width: 5rem;
}
label {
	display: inline-block;
	width: auto;
}
</style>

<label>
	Playback rate
	<select on:input={handlePlaybackRate}>
		<option value="1.00" selected>1.00</option>
		<option value="0.75">0.75</option>
		<option value="0.50">0.50</option>
		<option value="0.25">0.25</option>
	</select>
</label>
<label>
	Fast mode enabled 
	<input type="checkbox" bind:checked={enableTextOnly}>
</label>
<section data-testid="transcript-editor">
	{#each draftCues as cue, index}
	<div class="cue" class:active={activeCues && activeCues.getCueById(cue.id)}>
		<!-- svelte-ignore a11y-autofocus -->
		<textarea
			aria-label="cue text"
			class="text"
			on:keydown={(event) => handleCueKeydown(index === draftCues.length - 1, event)}
			bind:value={cue.text}></textarea>
		<input
			type="button"
			value="⏱start"
			class="start-time-button"
			aria-label="set start to current audio time"
			on:click={() => setCueStartTime(cue, index)}
			disabled={enableTextOnly}
		/>
		<input
			type="number"
			class="start-time-text"
			step="0.1"
			aria-label="cue start time"
			bind:value={cue.startTime}
			disabled={enableTextOnly}
		/>
		<input
			type="button"
			value="⏱end"
			class="end-time-button"
			aria-label="set end to current audio time"
			on:click={() => setCueEndTime(cue, index)}
			disabled={enableTextOnly}
		/>
		<input
			type="number"
			class="end-time-text"
			step="0.1"
			aria-label="cue end time"
			bind:value={cue.endTime}
			disabled={enableTextOnly}
		/>
		<input
			type="button"
			value={`jump ${formatTimestamp(cue.startTime, duration)}`}
			class="jump-button"
			aria-label="set end to current audio time"
			on:click={() => dispatchJumpTo(cue.startTime)}
			disabled={enableTextOnly}
		/>
	</div>
	{/each}
	<button on:click={handleAddCue}>Add cue</button>
	<button on:click={handleDownload}>Download vtt</button>
</section>