<script>
	import { formatVttTime } from './maths';

	export let draftCues = [];

	function handleDownload() {
		const out = ['WEBVTT\n\n'];
		for (let i = 1; i <= draftCues.length; i++) {
			const cue = draftCues[i - 1];
			out.push(i+'\n');
			out.push(formatVttTime(cue.startTime) + ' --> '+ formatVttTime(cue.endTime) + '\n');
			out.push(cue.text + '\n');
			out.push('\n');
		}
		const blob = new Blob(out, { type: 'text/vtt' });
		const url = URL.createObjectURL(blob);
		window.open(url);
		URL.revokeObjectURL(url);
	}
</script>
<style>
</style>

<button on:click={handleDownload}>Download vtt</button>