<script>
	import { createEventDispatcher } from 'svelte';

	// cue time in seconds
	export let currentTime = 0;
	export let seconds = 0;

	export let message = '';
	export let disabled = false;

	const dispatch = createEventDispatcher();

	function handleSnapshot() {
		seconds = currentTime;
		dispatch('settime', seconds);
	}
	function handleInput(event) {
		seconds = parseFloat(event.target.value);
		dispatch('settime', seconds);
	}
</script>
<style>
input {
	max-width: 10ch;
}
</style>

<input
	data-testid="timeSnapshot"
	type="button"
	value={message}
	{disabled}
	on:click={handleSnapshot}
/>
<input
	data-testid="timeInput"
	type="number"
	step="0.1"
	value={seconds}
	{disabled}
	on:input={handleInput}
>
