<script>
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	function dispatchPlaybackRate(event) {
		dispatch('playbackrate', parseFloat(event.target.value));
	}
</script>
<style>
</style>

<label>
	Playback rate
	<select data-testid="playbackRate" on:input={dispatchPlaybackRate}>
		<option data-testid="playbackRateOption" value="1.00" selected>1.00</option>
		<option data-testid="playbackRateOption" value="0.75">0.75</option>
		<option data-testid="playbackRateOption" value="0.50">0.50</option>
		<option data-testid="playbackRateOption" value="0.25">0.25</option>
	</select>
</label>