<script>
	import { createEventDispatcher } from 'svelte';
	import { formatTimestamp } from './maths';

	// current and total time
	export let startTime = 0;
	export let duration = 0;

	export let disabled = false;

	const dispatch = createEventDispatcher();

	function dispatchJumpTo(startTime) {
		dispatch('jumpto', startTime);
	}
</script>
<style>
button {
	color: var(--transcript-link-color);
	font-size: 0.8rem;
	line-height: 1.6;
	text-decoration: underline;
	cursor: pointer;
	padding: 0.5rem;
}
button:focus-visible {
	outline: thin solid var(--transcript-link-color);
}
button, button:hover, button:active {
	background: none;
	border: none;
	margin: 0.2rem 0 0 0;
}
button:disabled {
	cursor: not-allowed;
	opacity: 0.54;
}
</style>

<button
	data-testid="jump"
	aria-label={`Jump to ${startTime} seconds`}
	{disabled}
	on:click={dispatchJumpTo(startTime)}
>
	{formatTimestamp(startTime, duration)}
</button>