html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: white;
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#demo {
	--transcript-link-color:  #ff8f00;
	--transcript-highlight-color:  rgba(255, 142, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  body {
  	background: #333;
  	color: white;
  }
  #demo {
	--transcript-link-color:  #ffe082;
	--transcript-highlight-color:  rgba(255, 224, 130, 0.2);
  }
}
